body {
    overflow: hidden;
    font-family: Verdana, Tahoma, sans-serif;
}

.gamescreen {
    height: 100vh;
    width: 100%;
    background-image: url("images/background.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hpbars {
    background-color: lightskyblue;
    display: flex;
    width: auto;
    font-size: 25px;
    color: white;
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}

.enemyHp {
    border: 5px solid red;
    flex: 50%;

}

.playerHp {
    border: 5px solid greenyellow;
    flex: 50%;
}

.floatright {
    float: right;
}

.blink {
    animation: blink 1.5s linear infinite normal;
}

.characters {
    display: flex;
    position: absolute;
    margin: auto;
    left: 50px;
    top: 500px;
    right: 50px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.player {
    transform: scale(2);
}

.enemy {
    transform: scale(2);
}

.menubar {
    flex: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid grey;
    padding: 1em;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: lightskyblue;
}

.itemmenubar {
    flex: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid grey;
    padding: 1em;
    justify-content: space-between;
    margin: 0 auto;
    background-color: lightskyblue;

}

.itemmenubar li {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button {
    width: 200px;
    height: 30px;
    border: 5px outset grey;
    text-align: center;
    padding: 1em;
    background-color: lightblue;
}

.button a {
    font-size: 20px;
    color: white;
}

.button a:hover {
    font-size: 30px;
}

.movetext {
    position: relative;
    left: 0;
    transition: all 1s;
}

.movetext:hover {
    left: 50px;
}

li:hover span {
    display: inline;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-left: 60px;
}

li span {
    display: none;
    z-index: 1
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}

@keyframes blink {

    0%,
    100% {
        color: white;
        transform: rotate(-3deg);
    }

    50% {
        color: red;
        transform: scale(1.2);
        transform: rotate(3deg);
    }
}
